/node_modules
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
"dalal.sharenow.live/installable.zip"
"dalal.sharenow.live/installable.zip"
/.idea
/.vscode
.env
public/assets/img
public/assets/admin
