<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us Section</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .contact-us-page-section-bgc {
      background-color: hsla(8, 79%, 62%, .05);
    }

    .contact-us-page-section-img {
      bottom: 0;
      position: absolute;
    }

    .contact-us-page-section-position-relative {
      position: relative !important;
    }

    .contact-us-page-section-img-box {
      position: absolute;
      right: -70px;
      z-index: -1;
    }
  </style>
</head>

<body>
  <div class="container">

    <div
      class="contact-us-page-section contact-us-page-section-bgc mx-auto maxw1600 pt90 pt60-md pb90 pb60-md bdrs12 contact-us-page-section-position-relative mx20-lg px20-md aos-init aos-animate"
      data-aos="fade" data-aos-delay="300">

      <div class="contact-us-page-section-img-box">
        <img alt="shape" loading="lazy" width="104" height="118" decoding="async" data-nimg="1"
          class="contact-us-page-section-img-1 bounce-y contain" style="color:transparent"
          srcset="/_next/image?url=%2Fimages%2Fabout%2Felement-4.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fimages%2Fabout%2Felement-4.png&amp;w=256&amp;q=75 2x"
          src="/_next/image?url=%2Fimages%2Fabout%2Felement-4.png&amp;w=256&amp;q=75">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-xl-6">
            <div class="contact-us-page-section-cta">
              <h2 class="contact-us-page-section-title">Get Your Dream House</h2>
              <p class="contact-us-page-section-text mb25">Lorem ipsum dolor sit amet, consectetur adipiscing
                elit, sed do<!-- --> <br class="d-none d-md-block"> eiusmod tempor incididunt.</p>
              <a class="contact-us-page-section-btn btn-dark" href="/register">Register Now <i
                  class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>

          <div class="col-lg-5 col-xl-4 offset-xl-2 d-none d-lg-block">
            <div class="contact-us-page-section-img">
              <img alt="shape" loading="lazy" width="441" height="511" decoding="async" data-nimg="1"
                class="w-100 h-100 cover" style="color:transparent"
                src="/_next/image?url=%2Fimages%2Fabout%2Fcta-building-1.png&amp;w=1080&amp;q=75">
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
