/*

    * This file contains the styling for the Home Variation One, this
    is the file you need to edit to change the look of the
    template.

******************************************************
*****************************************************/
/* -----------------------------------------
	Home Banner CSS
----------------------------------------- */
.home-banner.home-banner-1 {
  /* height: 572px; */
  /* height: 400px; */
  height: 350px;
  position: relative;
}

.hero-image {
  height: 100%;
  width: 100%;
  position: relative;
}


.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  z-index: 0;
}

.home-banner.home-banner-1:hover .hero-image::before {
  transform: scale(1.05);
}


.home-banner.home-banner-1 .content {
  max-width: 800px;
}

.home-banner.home-banner-1 .content .title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 60px;
  color: #282212 !important;
}

@media(max-width : 575px) {
  .home-banner.home-banner-1 .content .title {
    font-size: 35px;

  }
}


.home-banner.home-banner-1 .banner-filter-form .nav {
  gap: 20px;
  border-radius: 10px 10px 0 0;

}

.home-banner.home-banner-1 .banner-filter-form .nav .nav-link {
  position: relative;
  border-radius: 10px 10px 0 0;
  color: #64748b;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  margin-inline: 0;
  border: none;
  cursor: pointer;

}

@media(max-width : 400px) {
  .home-banner.home-banner-1 .banner-filter-form .nav .nav-link {
    padding: 8px 14px;
  }
}

.home-banner.home-banner-1 .banner-filter-form .nav .nav-link::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-inline-start: auto;
  margin-inline-end: 0;
  height: 100%;
  width: 2px;
}

.home-banner.home-banner-1 .banner-filter-form .nav .nav-link:is(.active, :hover) {
  color: #041533;
  background-color: var(--color-white);
  border: none;
  border-bottom: 2px solid #747474;
  padding-bottom: 6px;
}

.home-banner.home-banner-1 .banner-filter-form .tab-content,
.home-banner.home-banner-1 .banner-filter-form .form-wrapper {
  border-radius: 23px;
}

.home-banner.home-banner-1 .banner-filter-form .btn-primary {
  background: var(--color-secondary);
}

.home-banner.home-banner-1 .banner-filter-form .grid .grid-item {
  flex: 1;
  width: unset;
}


.home-des-border {
  /* border-right: 1px solid #ebecf0; */
}

@media(max-width : 767px) {
  .home-des-border {
    border: none;
  }
}

/* ============================== */


.new-main-navbar {
  background-size: cover;
  background-color: #6c603c;
  /* border-radius: 10px; */
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: white;
}

.title-colors {
  color: #000000 !important;
}


.whatsapp-btn {
  width: 50px;
  height: 50px;
  background-color: rgba(227, 255, 229, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(227, 255, 229, 1);
  position: fixed;
  bottom: 35px;
  right: 20px;
  z-index: 9999;
}


.whatsapp-btn img {
  width: 25px;
  /* icon size */
  height: 25px;
}

@media(min-width:300px) and (max-width:767px){
  .whatsapp-btn {
    width: 40px;
    height: 40px;
    background-color: rgba(227, 255, 229, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(227, 255, 229, 1);
    position: fixed;
    bottom: 81px;
    right: 7px;
    z-index: 9999;
  }
}

/* == */


.section-title {
  text-align: left;
}

.section-title .title {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  color: #334155;
}

@media(max-width : 500px) {
  .section-title .title {
    font-size: 20px;
  }
}

.section-title .title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 75px;
    height: 3px;
    background-color: #334155;
    border-radius: 51px;
}




/* === */

.product-area {
  background-color: #f7f9fc;
}

.custom-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  padding: 20px;
  margin-left: 40px;
  transition: all 0.3s ease;
}


@media(max-width : 575px) {
  .custom-card {

    margin-left: 13px;

  }
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
}

.card-img {

  margin-bottom: 15px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #000;
}

.card-text {
  font-size: 12px;
  line-height: 1.8;
  color: rgba(163, 163, 163, 1);
  margin-bottom: 20px;
}

.card-btn {
  background: #fff;
  border: 1px solid black;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-btn:hover {
  background: #f5f5f5;
}

.new-my-div {
  padding: 0px 0px 0px 0px;
}

@media(max-width : 1400px) {
  .new-my-div {
    padding: 0px 110px;
  }
}



@media(max-width : 1200px) {
  .new-my-div {
    padding: auto;
  }
}

@media(max-width : 767px) {
  .new-my-div {
    padding: 0px 50px;
  }
}


.home-hero-inq-btn {
  background-color: #947D42;
  color: white;
  padding: 15px 20px;
  border-radius: 11px;

}

.home-hero-inq-btn:hover {
  color: white;

}


.new-banner-filters-width {
  width: 75% !important;
  margin: auto;
}
@media only screen and   (min-width : 1400px) {
    .new-banner-filters-width{
        width: 62% !important;
        /* width: 60% !important; */
    }
}

@media(max-width : 991px) {

  .new-banner-filters-width {
    width: 80% !important;
    margin: auto;
  }
}

.vs-new-set-btn {

  position: absolute;
  top: 0px;
  right: 0px;
}

@media(max-width : 991px) {

  .vs-new-set-btn {

    position: static;

  }
}

.button-res {
  display: flex;
  justify-content: space-between;
  align-items: anchor-center !important;
}

/*  */
.view-all-desktop {
  display: inline-block;
}

.view-all-mobile {
  display: none;
}

@media (max-width: 768px) {
  .view-all-desktop {
    display: none !important;
    width: auto !important;
  }

  .view-all-mobile {
    display: inline-block !important;
  }
}

/*  */